.event { 
    padding: 80px 0;

     &--frontend {
background-image: linear-gradient(#000, red);
     }

     &--ux-ui {
        background-image: linear-gradient(red, #000);
     }

     &--data-science {
        background-image: linear-gradient(#000,red);
     }

     &--backend {
        background-image: linear-gradient(red, #000);
     }
    


            &__image {
                max-width: 360px;
                margin-top: 18px;
            }
        
            &__details {
                margin-top: 8px;
                margin-right: 40px;
                &__title {
                    margin-top: 12px;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        
            &__description {
                font-size: 16px;
                line-height: 22px;
            }
        }
     
     .event__container {
        flex-direction: row-reverse;
        display: flex;
        max-width: 940px;
        width: 100%;
        margin: 0 auto
     }



